body {
  background-image: url('fundo.jpg'); /* Caminho para o fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.mensagem {
  margin-top: 50px;
  font-size: 24px;
}

.imagem-clicavel {
  width: 300px;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

  transform: scale(1.05);
}

